{% extends 'base.tmpl.html' %}
{% block header %}
<style>
  html,
  body {
    height: 100%;
    /*overflow-y: hidden !important;*/
    margin: 0px;
  }
.menu-item .popup-menu {
  height: 0px;
  overflow: hidden;
  position: absolute;
  z-index: 999;
  left: 0;
  top: 100%;
  width: 300px;
  transition: height 5s ease;
}

.menu-item:hover .popup-menu {
	height: auto;
}
</style>
{% endblock %}

{% block content %}
<div style="height: 100%; display: flex;flex-direction: column;">
<nav style="display:flex;">
    <ul class="nav nav-tabs">
      <li><a class="nav-item nav-link active" id="nav-ab-plane-tab" data-toggle="tab" href="#nav-ab-plane" role="tab">AB-Plane</a></li>
      <li><a class="nav-item nav-link" id="nav-color-dt-tab" data-toggle="tab" href="#nav-color-dt" role="tab">Color-dT</a></li>
      <li><a class="nav-item nav-link" id="nav-3d-palette-tab" data-toggle="tab" href="#nav-colorspace" role="tab">Colorspace 3D</a></li>
    </ul>
  <div class="menu-item" style="position: relative">
  <button class="btn btn-primary" type="button"  aria-expanded="false" aria-controls="collapseExample" >Settings</button>
  <div class="popup-menu">
        <div class="card card-body" style="display: flex;flex-direction: column;">
          <div id="screenshotsDiv" style="margin-bottom: 40px; display: flex;flex-direction: column;">
            <div style="margin-bottom:10px; display: flex;flex-direction: row;justify-content: space-between"><label style="margin: 0px">Screenshot Size</label><input style="max-width: 100px" type="number" class="screenshot_size" min="10" max="100"></div>
            <input style="width: 100%" type="range" class="form-range screenshot_size" id="imageSize" min="10" max="100" value="40">
          </div>
          <div id="circleDiv" style="margin-bottom: 40px; display: flex;flex-direction: column;">
            <div style="margin-bottom:10px; display: flex;flex-direction: row;justify-content: space-between"><label style="margin: 0px">Circle Interval</label><input style="max-width: 100px" type="number" class="circle_interval" min="5" max="20"></div>
            <input style="width: 100%" type="range" class="form-range circle_interval" id="circleInterval" min="5" max="20" value="10">
          </div>
          <div id="channelSelection" style="margin-bottom: 40px;display: none;flex-direction: row;justify-content: space-between;">
            <label>Channel</label>
            <select id="dropdown-channel">
              <option value="saturation" selected="selected">Saturation</option>
              <option value="chroma" >Chroma</option>
              <option value="hue">Hue</option>
              <option value="luminance">Luminance</option>
              <option value="a-channel">A-Channel</option>
              <option value="b-channel">B-Channel</option>
            </select>
          </div>
          <div style="margin-bottom: 40px;display: flex;flex-direction: row;justify-content: space-between;">
            <label>Background</label>
            <select id="dropdown-bgcolor-menu">
              <option value="white">White</option>
              <option value="gray" selected="selected">Dark Gray</option>
            </select>
          </div>
        </div>
      </div>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent" style="width:100%; height:100%">

  <div class="tab-pane fade fade show active" id="nav-ab-plane" role="tabpanel" style="width: 100%; height: 100%;" >
    <div id="ab-color" style="width: 100%; height: 100%;"></div>
  </div>
  <div class="tab-pane fade" id="nav-color-dt" role="tabpanel" style="width: 100%; height: 100%;" >
      <div id="dt-color" style="width:100%; height:100%"></div>
  </div>
  <div class="tab-pane fade" id="nav-colorspace" role="tabpanel" style="width: 100%; height: 100%;" >
    <div id="renderframe" style="width:100%; height:100%">
      <canvas id="palette-3d" style="width:100%; height:100%"></canvas>
    </div>
    {% include "color_3d.tmpl.html" %}
  </div>
  <div id="signals"></div>
</div>
</div>
{% endblock %}

  {% block script %}
  <script src="/static/color_ab.js"></script>
  <script src="/static/color_dt.js"></script>

  <script type="module">
    import * as RENDERER from '/static/threeJsPlot2.js';
    var color_ab_plot = null;
    var color_dt_plot = null;
    var colorspace_plot = null;

    var screenshot_revision = 0;

    $(document).ready(function () {
      color_ab_plot = new ColorAB("ab-color");
      color_ab_plot.selectionCallback = setSelected;
      color_dt_plot = new ColorDT("dt-color");
      colorspace_plot = new RENDERER.Palette3D("renderframe", "palette-3d");

      $(document).on("screenshotPollUpdate", function (event, data) {
        color_ab_plot.setData(data.a, data.b, data.urls, data.uuids);
        color_dt_plot.setData(
                data.time,
                data.luminance,
                data.saturation,
                data.chroma,
                data.hue,
                data.a,
                data.b,
                data.urls,
                data.uuids);


        colorspace_plot.clear();

        var ls = []
        var as = []
        var bs = []
        var cols = []
        var sizes = []

        data.palettes.forEach((elem) => {
          let rgb = [elem.bgr[2] / 255, elem.bgr[1] / 255, elem.bgr[0] / 255];
          ls.push(elem.lab[0]);
          as.push(elem.lab[1]);
          bs.push(elem.lab[2]);
          sizes.push(10);
          cols.push(rgb);
        });
        colorspace_plot.addPoints(ls, as, bs, cols, sizes);
      });
      let rgbs = []

      for (var i = 0; i < 1000; i++) {
        var r = Math.random();
        var g = Math.random();
        var b = Math.random();

        colorspace_plot.addPoint(
          Math.floor(255 * r) - 128,
          Math.floor(255 * g) - 128,
          Math.floor(255 * b) - 128
          , [r, b, g]);
      }
      // updated settings menu
      $('a[data-toggle=tab]').click(function(){
        if(this.id == "nav-ab-plane-tab"){
          document.getElementById("circleDiv").style.display = "flex";
          document.getElementById("screenshotsDiv").style.display = "flex";
          document.getElementById("channelSelection").style.display = "none";
        }
        else if(this.id == "nav-color-dt-tab"){
          document.getElementById("circleDiv").style.display = "none";
          document.getElementById("screenshotsDiv").style.display = "none";
          document.getElementById("channelSelection").style.display = "flex";
        }
        else if(this.id == "nav-3d-palette-tab") {
          document.getElementById("channelSelection").style.display = "none";
          document.getElementById("circleDiv").style.display = "none";
          document.getElementById("screenshotsDiv").style.display = "none";
        }
      });

      const screenshot_inputs=[...document.getElementsByClassName("screenshot_size")];
      screenshot_inputs.forEach((inp,i)=>inp.addEventListener("input",function(){
        screenshot_inputs[1-i].value=screenshot_inputs[i].value;
        color_ab_plot.setImageSize(screenshot_inputs[i].value);
        color_dt_plot.setImageSize(screenshot_inputs[i].value);
      },false));
      screenshot_inputs[1].dispatchEvent(new Event("input"))

      const circle_intervals=[...document.getElementsByClassName("circle_interval")];
      circle_intervals.forEach((inp,i)=>inp.addEventListener("input",function(){
        circle_intervals[1-i].value=circle_intervals[i].value;
        color_ab_plot.setCircleInterval(circle_intervals[i].value);
      },false));
      circle_intervals[1].dispatchEvent(new Event("input"))

      var e2 = document.getElementById("dropdown-bgcolor-menu");
      e2.addEventListener("change", function(){
        if(e2.value == "white"){
          color_ab_plot.setBackgroundColor("255", "17");
          color_dt_plot.setBackgroundColor("255", "17");
          colorspace_plot.setBackgroundColor("255", "17");
        }else if (e2.value == "gray"){
          color_ab_plot.setBackgroundColor("17", "255");
          color_dt_plot.setBackgroundColor("17", "255");
          colorspace_plot.setBackgroundColor("17", "255");
        }
      }, false);
      e2.dispatchEvent(new Event("change"));

      var e3 = document.getElementById("dropdown-channel");
      e3.addEventListener("change", function(){
        color_dt_plot.parameterChanged(e3.value);
      }, false);
      e3.dispatchEvent(new Event("change"));


      updateScreenshotVis(1000);
    });


    function checkUpdate(pollTime) {
      /*
      $.ajax({
        url: "/check-updates/",
        data: JSON.stringify({
          screenshot_uuids: screenshot_uuids,
          h: "Hello World",
        }),
        dataType: 'json',
        contentType: 'application/json;charset=UTF-8',
        type: 'POST',
        success: function (e) {
          screenshot_uuids = e.uuids;
          if (e.screenshots_changed) {
            updateScreenshotVis();
          }
        },
        error: function (jqXHR, textStatus, errorThrown) {
          console.log("Error", jqXHR, textStatus, errorThrown);
        },
        complete: function () {
          setTimeout(function () { checkUpdate(pollTime); }, pollTime);
        }
      });
      */
    }

    function updateScreenshotVis(pollTime) {
      console.log("Pulling Screenshots ")
      $.ajax({
        type: 'GET',
        dataType: 'json',
        url: "/screenshot-data/" + screenshot_revision,
        success: function (e) {
          if (e.update) {
            $(document).trigger("screenshotPollUpdate", [e.data]);
          }
          screenshot_revision = e.revision;
        },
        error: function (jqXHR, textStatus, errorThrown) {
          console.log("Error", jqXHR, textStatus, errorThrown);
        },
        complete: function () {
          setTimeout(function () { updateScreenshotVis(pollTime); }, pollTime);
        }
      });
    }

    function setSelected(selected_uuids) {
      console.log(selected_uuids);
      $.ajax({
        url: "/set-selection/",
        data: JSON.stringify({
          uuids: selected_uuids,
          h: "Hello World",
        }),
        dataType: 'json',
        contentType: 'application/json;charset=UTF-8',
        type: 'POST',
        success: function (e) {
          console.log("Selection Set")
        },
        error: function (jqXHR, textStatus, errorThrown) {
          console.log("Error", jqXHR, textStatus, errorThrown);
        },
      });
    }


  </script>

  {% endblock %}