{% extends 'base.tmpl.html' %}
{% block header %}
<!--  <h1>{% block title %}Register{% endblock %}</h1>-->
{% endblock %}

{% block content %}
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">AB-Plane</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Color-dT</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Colorspace 3D</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    {% include "color_ab.tmpl.html" %}
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    {% include "color_dt.tmpl.html" %}
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
<!--    {% include "color_3d.tmpl.html" %}-->
  </div>
</div>
{% endblock %}

{% block script %}
<!--<script src="static/color_ab.js"></script>-->
{% endblock %}