VIAN.egg-info/*
miniconda/
vian_update.zip
venv/*
venv37/*
.idea/*
.idea/workspace.xml
.idea/workspace.xml
*.pyc
*.pickle
VIAN.zip
*.hdf5
*.prototxt.txt
*.caffemodel
user/models/*
.vs/
*.pyproj
*.sln
data/models/face_identification/shape_predictor_68_face_landmarks.dat
data/models/
idea/
*.vscode/
.DS_Store
install/.DS_Store
_docs/build/*
_docs/source/_build/*
dist/*
build/*
log-files/*
vian-update.zip
tests/is_dev.txt
*.swp
.notags
comparison.html
flask_server/static/build/*
flask_server/static/three/*
venv2/*
projects/*