vian_update.zip
.idea/*
.idea/workspace.xml
.idea/workspace.xml
*.pyc
*.pickle
VIAN.zip
*.hdf5
*.prototxt.txt
*.caffemodel
user/models/*
.vs/
*.pyproj
*.sln
data/models/face_identification/shape_predictor_68_face_landmarks.dat
data/models/
idea/
*.mp4
*.vscode/
.DS_Store
