tensorflow
keras
sqlalchemy
opencv-python-headless
requests
PyQt6
PyQt6-WebEngine
scikit-learn
flask
fastcluster
moviepy
pandas
librosa
pysrt
bokeh==2.2.1
matplotlib
pymediainfo
XlsxWriter
openpyxl
SoundFile
