tensorflow
keras
sqlalchemy
opencv-contrib-python-headless==4.5.5.62
requests
PyQt6
PyQt6-WebEngine
scikit-learn
flask
fastcluster
moviepy
pandas
librosa
pysrt
bokeh==2.2.1
matplotlib
pymediainfo
XlsxWriter
openpyxl
SoundFile
